
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action="Insert" method="post">
    <input type="text" name="surveyName" placeholder="Survey Name" />
    <input type="text" name="surveyDesc" placeholder="Description" />
    <input type="submit" value="submit" />
</form>

