@model SurveyApp.Database.Models.Survey;
@{
    ViewData["Title"] = "Survey details";
    var survey = ViewData.Model;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div>
        <h1>Details for @survey.Name </h1>
        <h3>Questions: </h3>
        <ul class="list-group">
            @foreach (var p in survey.Questions)
            {
                <li class="list-group-item active" style="color:black;margin:5px;width:fit-content">
                    <ul class="list-inline m-0">
                        <input type="text" value="@p.Content" readonly>
                        <li class="list-inline-item" style="padding:5px">
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="glyphicon glyphicon-edit"></i></button>
                        </li>
                        <li class="list-inline-item">
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="glyphicon glyphicon-remove"></i></button>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</body>
</html>
