@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: #04AA6D"> Welcome! </h1>
    <p> Create your first survey and share with others! </p>
    <button type="button" style="background-color: #04AA6D; color: white; padding: 14px 20px; margin: 8px 0; border: none; cursor: pointer; width: 100%; margin-top: 10%;"> Create survey </button>
</div>
